@{
    ViewData["Title"] = "Brand";
}
@model List<Brand>

<div class="row">
    <div class="mb-2 text-center col-lg-12 @(ViewBag.StatusCode == 200 ? "bg-success" : "bg-danger")">
        <b>@(ViewBag.StatusCode == 200 ? "Connect" : "Not Connect") [@ViewBag.StatusCode] - with API Ocelot</b>
    </div>
    <div class="col-lg-6">
        <h1>Brand</h1> <hr />
        @if (ViewBag.ShowTable)
        {
            <a class="btn btn-primary btn-sm" asp-controller="Brand" asp-action="Create">Add New</a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _Brand in Model)
                    {
                        <tr>
                            <td>@_Brand.Id</td>
                            <td>@_Brand.Name</td>
                            <td>@_Brand.Status</td>
                            <td class="text-end">
                                <form asp-controller="Brand" asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@_Brand.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
