@model List<ApiGatewayOcelot.Models.KeyClientRoute>
@{
    Layout = "_Layout";
}

<h1>KeyClientRoute</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-secondary" role="alert">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
            <form action="/KeyClientRoute/Create" method="POST">
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="Id">Id</label>
                            <input class="form-control" type="number" id="KCR_Id_FORM_READONLY" required readonly>
                            <input class="form-control" type="hidden" name="Id" id="KCR_Id_FORM" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="KeyClientName">KeyClientName</label>
                            <select class="form-control" name="KeyClientName" id="KCR_KeyClientName_FORM" required>
                                <option value="">-</option>
                                @foreach (var _KeyClientName in ViewData["KeyClientData"] as dynamic[])
                                {
                                    <option value="@_KeyClientName.KeyClientName">@_KeyClientName.KeyClientName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Route">Route</label>
                            <input class="form-control" type="text" name="Route" id="KCR_Route_FORM" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="KCR_Method_FORM">Method</label>
                            <select class="form-control" name="Method" id="KCR_Method_FORM" required>
                                <option value="">-</option>
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to add?')">Add New</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-12 mt-2">
        @if (TempData["ErrorMessageTable"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessageTable"]
            </div>
        }
        <table id="routeUserTable" class="table table-hover">
            <thead>
                <tr>
                    <th rowspan="2">Id</th>
                    <th>KeyClientName</th>
                    <th>Route</th>
                    <th>Method</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var routeUser in ViewData["keyClientRouteData"] as dynamic[])
                {
                    <tr>
                        <td>@routeUser.Id</td>
                        <td>@routeUser.KeyClientName</td>
                        <td>@routeUser.Route</td>
                        <td>@routeUser.Method</td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-danger" href="/KeyClientRoute/Delete/@routeUser.Id" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        function autoFillId() {
            var ids = $("#routeUserTable tbody tr").map(function () {
                return parseInt($(this).find("td:nth-child(1)").text(), 10) || 0;
            }).get();
            var maxId = Math.max.apply(Math, ids);
            $("#KCR_Id_FORM").val(maxId + 1);
            $("#KCR_Id_FORM_READONLY").val(maxId + 1);
        }
        autoFillId();

        function isDataUnique(keyClientName, route, method) {
            var isUnique = true;
            $("#routeUserTable tbody tr").each(function () {
                var existingKeyClientName = $(this).find("td:nth-child(2)").text();
                var existingRoute = $(this).find("td:nth-child(3)").text();
                var existingMethod = $(this).find("td:nth-child(4)").text();
                if (
                    existingKeyClientName === keyClientName &&
                    existingRoute === route &&
                    existingMethod === method
                ) {
                    isUnique = false;
                    return false;
                }
            });
            return isUnique;
        }
        $("form").submit(function (e) {
            var keyClientName = $("#KCR_KeyClientName_FORM").val();
            var route = $("#KCR_Route_FORM").val();
            var method = $("#KCR_Method_FORM").val();
            if (!isDataUnique(keyClientName, route, method)) {
                alert("Data sudah ada dalam tabel. Harap masukkan data yang berbeda.");
                e.preventDefault();
            }
        });
        $("#KCR_KeyClientName_FORM, #KCR_Route_FORM, #KCR_Method_FORM").on("keyup change", function () {
            applyFiltersRoute();
        });
        function applyFiltersRoute() {
            var _KCR_KeyClientName = $("#KCR_KeyClientName_FORM").val().toLowerCase();
            var _KCR_Route = $("#KCR_Route_FORM").val().toLowerCase();
            var _KCR_Method = $("#KCR_Method_FORM").val();
            $("#routeUserTable tbody tr").each(function () {
                var COL_KCR_KeyClientName = $(this).find("td:nth-child(2)").text().toLowerCase();
                var COL_KCR_Route = $(this).find("td:nth-child(3)").text().toLowerCase();
                var COL_KCR_Method = $(this).find("td:nth-child(4)").text();
                var showRow =
                    COL_KCR_KeyClientName.includes(_KCR_KeyClientName) &&
                    COL_KCR_Route.includes(_KCR_Route) &&
                    (_KCR_Method === "" || COL_KCR_Method === _KCR_Method);
                $(this).toggle(showRow);
            });
        }
    });
</script>
